.row
  .small-12.columns
    %p Great job distributing those skill points! Now that we're done with numbers, it's time to flesh out your Character.
    %p The only fields that are required are Name, Sex, Weight, Height, and Alignment. Everything else is up to you.
  .small-12.columns
    =render partial: 'characters/character', locals: {skills: @skills, character: @character}
  .small-12.columns
    =render partial: "description", locals: {character: @character}