.row
  .small-12.columns
    %h2 Races
    .divider
  .small-12.columns
    %p You're on the first step to creating your character! The first step is to decide on a race. Select one from the dropdown below.

.row
  .small-12.columns
    = simple_form_for @character, url: character_races_path, method: 'post', :html => {:class => "races"} do |f|
      = f.input :id, :as => :hidden, :input_html => { :value => @character.id }
      = f.input :race, collection: @races
      = f.button :submit, "Submit Race", class: 'right'

.row
  .small-12.columns
    .description