.row
  %p You're on the first step to creating your character! The first step is to decide on a race. Select one from the dropdown below.

.row
  = simple_form_for @character, url: character_races_path, method: 'post' do |f|
    = f.input :race, collection: @races
    = f.button :submit, "Submit Race"