.row
  - if @user.characters.length < 1
    .small-10.small-centerd.columns
      %h2 Looks like you haven't created a character yet. Click "Create A Character" to get started!
    .small-4.columns
      =link_to "Create a Character", new_character_path, :class => "button"
  - else
    .small-4.columns
      =link_to "Create a Character", new_character_path, :class => "button"
    .small-8.columns
      .row
        %table
          %thead
            %tr
              %th Name
              %th
          %tbody
            - @user.characters.each do |character|
              - if character.finalized?
                %tr
                  %td
                    %p= character.name
                  %td
                    =link_to "View", character_path(character), class: "button"