.row
  - if @user.characters.length < 1
    .large-10.small-12.columns
      %h2 Looks like you haven't created a character yet. Click "Create A Character" to get started!
    .large-4.small-12.columns
      =link_to "Create a Character", new_character_path, :class => "button"
  - else
    .large-4.small-12.columns
      =link_to "Create a Character", new_character_path, :class => "button"
    .large-8.small-12.columns
      .row
        %table
          %thead
            %tr
              %th Name
              %th
          %tbody
            - @user.characters.each do |character|
              - if character.finalized?
                %tr
                  %td
                    %p= character.name
                  %td
                    =link_to "View", character_path(character), class: "button"