.row
  .small-12.columns
    %p Now that Ability scores are out of the way, let's figure out your character's skills.
    %p Your number of Skill points is determined from your intelligence. Each Skill your are proficient in is marked blue. These sills only take one skill point to advance. Skills marked in red are cross-class skills. You will need to invest two skill points to advance one level. You'll notice that Skills already have numbers next to them. Those are determined from your Ability Modifiers, listed below.
  .small-12.columns
    = render @modifiers

.row
  .small-12.columns
    %h3 Skills:
  .small-12.columns