.row
  .small-12.columns
    %h2 Skills
    %p Now that Ability scores are out of the way, let's figure out your character's skills.
    %p Your number of Skill points is determined from your intelligence. Each Skill you are proficient in is marked green. These skills only take one skill point to advance. Skills marked in red are cross-class skills. You will need to invest two skill points to advance one level. You will notice that Skills already have numbers next to them. Those are determined from your Ability Modifiers, listed below. You MUST assign all your skill points on this screen ot proceed.
  .small-12.columns
    =render partial: 'characters/character', locals: {skills: @skills, character: @character}
  .small-12.columns
    =render partial: "modifiers", object: @character.get_modifiers

.row
  .small-12.columns
    %h3 Skills:
  =render partial: 'skills', locals: {skills: @skills, character: @character}


