.row
  .large-12.large-centered.columns
    %h1 Welcome to the Dungeons & Dragons Character Toolkit!
.row
  .large-4.small-12.columns.info-block
    =image_tag 'backgrounds/elf.jpg'
    %h3 Streamlined Character Creation
    %p Spend less time making a character and more time playing them!
  .large-4.small-12.columns.info-block
    =image_tag 'backgrounds/clan.jpg'
    %h3 Multiple Character Support
    %p The perfect tool for Dungeon Masters or Adventurers playing multiple campaigns.
  .large-4.small-12.columns.info-block
    =image_tag 'backgrounds/drizzt.jpg'
    %h3 Minimalist Interface & Records
    %p Easy record-keeping for all fo your character's Abilities, Skills, and Backgrounds.