.row
  .small-12.columns
    %h2 Classes
    .divider.small-12.columns
  .small-12.columns
    %p Great! Now, select your class.

.row
  .small-12.columns
    = simple_form_for @character, url: character_classes_path, method: 'post', :html => {:class => "classes"} do |f|
      = f.input :id, :as => :hidden, :input_html => { :value => @character.id }
      = f.input :class, collection: @classes
      = f.button :submit, "Submit Class", class: 'right'

.row
  .small-12.columns
    .description