.row
  %h2 Classes
  %p Great! Now, select your class.

.row
  = simple_form_for @character, url: character_classes_path, method: 'post' do |f|
    = f.input :class, collection: @classes
    = f.button :submit, "Submit Class"