.row
  %h2 Confirm Character
  %p Review your character to make sure everything looks good.
.row
  =render partial: 'characters/character', locals: {skills: @skills, character: @character}

=link_to "Confirm Character", character_confirm_path(@character), method: :post, class: "button right"