.row
  %p To create a character click on 'Race'.
  .side-menu
    =link_to "Race", character_races_path(@character)
    =link_to "Class", character_classes_path(@character)
    =link_to "Abilities", new_user_session_path, {:class => ("disabled" if @character.race.nil?)}
    =link_to "Description", new_user_session_path, {:class => ("disabled" if @character.race.nil?)}
    =link_to "Equipment", new_user_session_path, {:class => ("disabled" if @character.race.nil?)}
