.small-12.columns
    %h3 Scores:
- @abilities.each do |ability|
    .score.small-2.columns
        %p= ability

.large-12.columns
    %h3 Abilities:
    =simple_form_for @character, url: character_abilities_path(@character), method: 'post', :html => {:class => "abilities"} do |f|
        =f.input :str, label: "Strength", collection: @abilities, wrapper_html: { class: 'small-2 columns' }
        =f.input :dex, label: "Dexterity", collection: @abilities, wrapper_html: { class: 'small-2 columns' }
        =f.input :const, label: "Constitution", collection: @abilities, wrapper_html: { class: 'small-2 columns' }
        =f.input :int, label: "Intelligence", collection: @abilities, wrapper_html: { class: 'small-2 columns' }
        =f.input :wis, label: "Wisdom", collection: @abilities, wrapper_html: { class: 'small-2 columns' }
        =f.input :cha, label: "Charisma", collection: @abilities, wrapper_html: { class: 'small-2 columns' }
        =f.button :submit, "Submit Abilities"