// @import url(http://fonts.googleapis.com/css?family=Open+Sans);
// @import url(http://fonts.googleapis.com/css?family=Merriweather);
@import "foundation/components/buttons";

body {
  background: asset-url("backgrounds/bg-tile.jpg", image);
}

.content {
  padding: 2em;
}

nav.top-bar{
  li.name > h1 > a > img {
  height: 30px;
  }
}

.skills {
  label {
    font-size: 0.8em !important;
  }
}

h1 {
  padding-bottom: 1em;
}

h1, h2, h3 {
  display: inline-block;
  background: black;
  color: white;
  padding: 0.01em 0.5em;
}

#logo {
  display: block;
  background: transparent;
  padding: 0;
}

.info-block {
  h3 {
  }
}

table {
  border-collapse: collapse;
  td, th {
    border-bottom: 1px solid rgb(157, 10, 4) !important;
  }
  th {
    font-weight: bold !important;
    font-size: 1.2em !important;
  }
}

.divider {
  border: 1px solid rgb(157, 10, 4);
  margin-bottom: 1em;
}

.character-stat, .score {
  margin-bottom: 1em;
}

.session-links {
  .facebook {
    @include button();
    background: rgb(59, 89, 152);
    color: white;
    &:hover {
      background: darken(rgb(59, 89, 152), 10%);
    }
  }
  .twitter {
    @include button();
    background: rgb(0, 132, 180);
    color: white;

    &:hover {
      background: darken(rgb(0, 132, 180), 10%);
    }
  }
}

.score {
  text-align: center;
}

.cross-class-skill {
  color: $alert-color;
}

.class-skill {
  color: $success-color;
}